<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		   		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:mem:testdb</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		
		
<!--     	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property> -->
<!--     	<property name="connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!--         <property name="connection.url">jdbc:mysql://192.168.1.33:3306/hibernate</property> -->
<!--         <property name="connection.username">root</property> -->
<!--         <property name="connection.password">root</property> -->
        
        <property name="connection.pool_size">2</property>        
		<property name="hibernate.current_session_context_class">thread</property>
      
        <property name="format_sql">true</property> 
        <property name="show_sql">true</property>
       
        <property name="hibernate.hbm2ddl.auto">create</property>
        
		
		
		
		
		<mapping class="es.pruebas.hibernate.model.unidireccional.sintablas.Pais" />
		<mapping class="es.pruebas.hibernate.model.unidireccional.sintablas.Continente" />
		<mapping class="es.pruebas.hibernate.model.unidireccional.sintablas.Presidente" />
		<mapping class="es.pruebas.hibernate.model.unidireccional.sintablas.Provincia" />
		
		
		<mapping class="es.pruebas.hibernate.model.unidireccional.contablas.Factura" />
		<mapping class="es.pruebas.hibernate.model.unidireccional.contablas.Cliente" />
		<mapping class="es.pruebas.hibernate.model.unidireccional.contablas.LineaFactura" />
		<mapping class="es.pruebas.hibernate.model.unidireccional.contablas.Responsable" />
		<mapping class="es.pruebas.hibernate.model.unidireccional.contablas.OperacionContable" />
		
		
	</session-factory>
</hibernate-configuration>
